 
<!--
    Page: home.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->
<!-- Script Section -->
 <!--<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
  
      <h6 class="display-6 navbar-text">&copy; Copyright 2023. All Rights reserved.</h6>
    
    </nav>
   </footer> -->
 
   <footer>
    <nav class="navbar-dark fixed-bottom bg-dark">
      <div class="container-fluid">
        <span class="navbar-text">
          &copy Copyright 2023. All rights reserved.
        </span>
      </div>
    </nav>
  </footer>