<!--
    Page: home.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->
<!--<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <p>
            On this website you are going to see My Portfolio
        </p>
        <button type="button">
            <a href="/about" target="_blank"
              style="color:rgb(6, 6, 6); text-decoration: none;">About Me!
            </a>
          
        </button>
      </div> -->
      
     <% if(title=='Home') { %> 
      <div class="container ">
        <h2 style=text-align:center;>On this website you are going to see My Portfolio</h2>
        <img src="/Assets/images/home.jpg" class="mx-auto d-block " style="width:50%"  >
        <button type="button" class="mx-auto d-block ">
          <a href="/about" target="_blank"
            style="color:rgb(6, 6, 6); text-decoration: none;">About Me!
          </a>
        
      </button>
    </div>
    <%}%>
      
    
 