
<!--
    Page: mainPage.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->
<h1 style="margin-top: 25px; text-align: center;
background-color: rgb(248, 244, 244);">Welcome to my website.</h1>