<!--
    Page: home.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->
<% if(title=='Projects') { %> 
<div class="container mb-5">
    <h1 style=text-align:center; font-size: 80px;>Projects</h1>
  <div class="row">
    <div class="row mt-5">
        <div class="col-sm-9">
                <img src="/Assets/images/plan.jpg" class="card-img-top" style="width: 50%">
                <div class="card-body">
                  <h5 class="card-title">Bussines Plan:</h5>
                  <p class="card-text">
                    In MBA we learned how to make a bussines plan for a company in 2 different courses(Implementing Strategy, and Advance Strategy).
                    I worked on a cusmetic company bussines plan and at the end the stake holders have a 100page document and 10 page as a report, 
                    which demonstare all the main points for each department. 
                  </p>
                </div>
              
    </div>
</div>      

<div class="row">
  <div class="row mt-5">
      <div class="col-sm-9">
              <img src="/Assets/images/data.jpg" class="card-img-top" style="width: 50%">
              <div class="card-body">
                <h5 class="card-title">Investigating the Relationship between Conscious Investment Contrary to the Trend and Excess Returns</h5>
                <p class="card-text">
                  This Project was my thesis for my Master's degree. 
                </p>
              </div>
            
  </div>
</div>  

<div class="row">
  <div class="row mt-5">
      <div class="col-sm-9">
              <img src="/Assets/images/plsq.jpg" class="card-img-top" style="width: 50%">
              <div class="card-body">
                <h5 class="card-title">Hotel Reservation</h5>
                <p class="card-text">
                  This application has been designed to provide users and travelers with a friendly digital user experience while they are looking for the most suitable hotel in their destination considering their criteria such as location, timeline, and several guests and constraints including limited budget. 

                </p>
              </div>
            
  </div>
</div>  
<%}%>
    
        
          