<!--
    Page: home.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->

<!--Main Content-->
<% if(title=='Services') { %>  
<div class="container mb-5">

    <div style="text-align:center; font-size: 70px;">
      <h6>Services Offered</h6>
     
    </div>


    <div class="row">
      
      <div class="col-sm-9">
        <h1 class="text-muted">Mathematics</h1>
        <p class="services-page-desc">I can offer you teching Engineering Mathematics 
            and also explain how you should think to be able to solve the any questions.</p>
      </div>

      <div class="col-sm-3">
        <img src="/Assets/images/Math.jpeg" alt="service1" width="200px" height="150px">
      </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <h1 class="text-muted">JAVA</h1>
            <p class="">Since I have started learning JAVA, while I didn'd know anoything about it,
                now I van show you how should start and continue this path. </p>
          </div>
     
      <div class="col-sm-3 mt-3">
        <img src="/Assets/images/2021 java technology report.jpeg" alt="service2" width="200px" height="150px">
      </div>          
    </div>

    <div class="row">
          
        <div class="col-sm-9">
          <h1 class="text-muted">C#</h1>
          <p class="services-page-desc">As a recruite in this field I study more about C# to understand the logic of that 
            and I can explain you how to study and help you to learn it to get A grade.</p>

        </div>
        <div class="col-sm-3 mt-3">
          <img src="/Assets/images/download.png" alt="service3" width="200px" height="150px">

        </div>
      </div>
</div>
<%}%>