<!--
    Page: about.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->

<!--Main Content-->
<% if(title=='About') { %>  
<div class="container mt-3">
    <h2>Mahsa Dorri</h2>
    <img src="/Assets/images/WhatsApp Image 2023-01-30 at 11.58.42.jpg" class="mx-auto d-block " style="width:20%" >
    <h5>Software Developer</h5>
    <p>
        Hello World!
       My name is Mahsa Dorri from Toronto, Canada. I am currently persuading my passion to become a Software Developer by studying Software engineering at Centennial College.
       I have always been interested in new fields from photography to engineering that can challenge me intellectually and practically.
       My initial degree in Industrial Engineering sharpened my logical thinking and mathematics, while my MBA (Strategy) at Tehran University empowers me in understanding the business models, strategies and needs.
       I am very excited to expand my knowledge and skillsets in programming and coding, to help your company with my innovative solutions which are backed up with my strong engineer and business knowledge.
    </p>

    <button class="btn btn-link" type="button">
      <a href="/Content/4. Mahsa Dorri - Resume - 2021.pdf" target="_blank"
         style="color: black; text-decoration: none;">My Resume</a>
    </button>
</div>
<%}%>