 <!-- Bottom Nav-->
 <!--<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
  
      <h1 class="display-6 navbar-text">&copy; Copyright 2023. All Rights reserved.</h1>
    
    </nav>
   </footer>-->
   <footer>
    <nav class="navbar-dark fixed-bottom bg-dark">
      <div class="container-fluid">
        <span class="navbar-text">
          &copy Copyright 2022. All rights reserved.
        </span>
      </div>
    </nav>
  </footer>
   