<!--
    Page: home.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->
<!--<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <p>
            On this website you are going to see My Portfolio
        </p>
        <button type="button">
            <a href="/about" target="_blank"
              style="color:rgb(6, 6, 6); text-decoration: none;">About Me!
            </a>
          
        </button>
      </div> -->
      <div class="container mt-3">
        <h2>On this website you are going to see My Portfolio</h2>
        <img src="/Assets/images/gandi_news_online-resume-1024x512.jpg" class="mx-auto d-block " style="width:50%"  >
        <button type="button">
          <a href="/about" target="_blank"
            style="color:rgb(6, 6, 6); text-decoration: none;">About Me!
          </a>
        
      </button>
    </div>
       
      
    
 