  <!--Main Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/Assets/images/LOGO.webp" width="50" height="50"  alt="">
      </a> <!--check it please, ASK PROF-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item">
              <% if (title == "Home"){%>
                <a class="nav-link active" href="/home">
                <%} else {%>
                <a class="nav-link" href="/home">
                <% } %>
                <i class="fa-solid fa-lg fa-house-laptop"></i> Home</a>
          </li>

          <li class="nav-item">
            <% if (title == "About"){%>
              <a class="nav-link active" href="/about">
              <%} else {%>
              <a class="nav-link" href="/about">
              <% } %>
              <i class="fa-solid fa-circle-info"></i> About</a>
        </li>
          
          <li class="nav-item">
                <% if (title == "Projects"){%>
                  <a class="nav-link active" href="/projects">
                  <%} else {%>
                  <a class="nav-link" href="/projects">
                   <% } %>
                  <i class="fa-brands fa-elementor"></i>Projects</a>                      
          </li>

          <li class="nav-item">
            <% if (title == "Contact"){%>
              <a class="nav-link active" href="/contact">
              <%} else {%>
              <a class="nav-link" href="/contact">
               <% } %>
              <i class="fa-brands fa-elementor"></i> Contact</a>                      
          </li>
          
          <li class="nav-item">
            <% if (title == "Services"){%>
              <a class="nav-link active" href="/services">
              <%} else {%>
              <a class="nav-link" href="/services">
               <% } %>
              <i class="fa-solid fa-gears"></i> Services</a>                      
          </li>

          </ul>
    </div>
  </nav>