<!--
    Page: error.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->

<div class="container">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>
